.text-tamerlane{
    color: #007882 !important;
}
.text-current{
    color: #004060 !important;
}
.text-trips{
    color: #717171 !important;
}
.text-plusebtn{
    color: #1DBE00 !important;
}
.text-pul{
    color: #1B8F29 !important;
}
.text-jan{
    color: #717188 !important;
}
.text-pul-2{
    color: #2068C0 !important;
}
.text-accounting{
    color: #007A82 !important;
}
.text-drivers{
    background: linear-gradient(0deg, #008182, #005E82 ) !important;
}
.bg-12345{
    background-color: #00405B !important;
}
.text-turabov{
    color: #212529 !important;
}
.bg-birthday{
    background-color: #E9FDFB !important;
}